Source: ypconfig
Section: misc
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper (>= 8.0.0), dh-python, python3-all, python3-setuptools, python3-pip, dh-systemd
Standards-Version: 3.9.1
X-Python-Version: >= 3

Package: ypconfig
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pkg-resources
Pre-Depends: python3-pip
Description: ypconfig, talk to Netlink from Python
 ypconfig is able to configure your servers network interfaces from a Yaml file, and rollback if something goes wrong.
