Source: ypconfig
Section: misc
Priority: optional
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper (>= 10), dh-python, python3-all, python3-setuptools, python3-pip
Standards-Version: 4.3.0
X-Python-Version: >= 3

Package: ypconfig
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pkg-resources
Pre-Depends: python3-pip
Description: Configure your Linux network interfaces from YAML.
 ypconfig is a Python tool that configures network interfaces on a Linux machine, according to a YAML config.
